<div class="row">
<!--     TODO add borders to the right of columns only when columns are not stacked. If stacked, borders are at bottom of columns -->
    <div class="col-md-2 image">
        <%= render "places/image", place: place %>
    </div>
    <div class="col-md-7 title_description">
        <%= render "places/title_description", place: place %>
    </div>
    <div class="col-md-1">
        <%= render "places/location", place: place %>
    </div>
    <div class="col-md-1">
        Looking for <%= place.looking_for %>
    </div>
    <div class="col-md-1 price">
        <%= render "places/price", place: place %>
    </div>
</div>