<% provide(:title, 'Create a listing') %>
<h1>Create a listing</h1>
<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <%= form_for(@place) do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= errors_for @place, :title %>
        <%= f.text_field :title, autofocus: true, class: 'form-control', maxlength: Place::MAX_TITLE_LENGTH %>
        <div class="characters_remaining_container"><span id="title_characters_remaining"><%= Place::MAX_TITLE_LENGTH %></span> characters remaining</div>

        <%= f.label :description %>
        <%= errors_for @place, :description %>
        <%= f.text_area :description, cols: 40, rows: 8, class: 'form-control', maxlength: Place::MAX_DESCRIPTION_LENGTH %>
        <div class="characters_remaining_container"><span id="desc_characters_remaining"><%= Place::MAX_DESCRIPTION_LENGTH %></span> characters remaining</div>
      </div>

      <div class="form-group">
        <label>Location Search</label>
        <%= text_field_tag '', '', class: 'form-control', placeholder: 'Enter your address', id: 'autocomplete' %>
      </div>

      <div class="form-group" id="address-inputs">
        <%= f.label 'Address' %>
        <%= errors_for @place, :city %>
        <%= errors_for @place, :province %>
        <%= f.text_field :street_number, id: "street_number", placeholder: "Street #", readonly: 'readonly', class: 'form-control' %>
        <%= f.text_field :street, id: "route", placeholder: "Street name", readonly: 'readonly', class: 'form-control' %>
        <%= f.text_field :city, id: "locality", placeholder: "City", readonly: 'readonly', class: 'form-control' %>
        <%= f.text_field :province, id: "administrative_area_level_1", placeholder: "Province", readonly: 'readonly', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label 'How many people are you looking for?' %>
        <%= errors_for @place, :looking_for %>
        <%= f.number_field :looking_for, :step => 'any', class: 'form-control', min: 1 %>
      </div>

      <div class="form-group" id="price-input-field-parent">
        <%= f.label :price, id:"price-label" %>
        <%= errors_for @place, :price %>
        <div>$<%= f.number_field :price, :step => 'any', class: 'form-control', min: 0 %></div>
      </div>

      <%= f.submit "Create my listing", class: "submit btn btn-success"%>
    <% end %>
  </div>
</div>