<h1><%= @place.title %></h1>
Location: <%= @place.location %>
Description: <%= @place.description %>
Price: <%= @place.price %>
<% for photo in @place.photos %>
  <% if photo.image_url.to_s %>
    <%= image_tag photo.image_url.to_s %>
    <%= photo.caption %>
  <% end %>
<% end %>
